/*-----reset general-------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Roboto',sans-serif;
}

h1 h2 h3 h4 label{ 
    font-family:'Francois One',sans-serif;
}

/*------colores fondos -------*/


.fondo-blanco{
    background-color: #ffffff;
}

.fondo-verde-01{
    background-color: #a5bcc2;
}

.fondo-verde-02{
    background-color: #3e5e66;
}

.fondo-rosa-01{
    background-color: #fcbcc4;
}

.fondo-rosa-02{
    background-color: #b33848 ;
}

.fondo-gris{
    background-color: #d9dde2;
}

/*-----COLORES TEXTO------*/

.text-blanco{
  color:#ffffff ;
}

.text-negro{
    color: #000000;
}

.text-verde-01{
    color: #89a7ae;
}

.text-verde-02{
    color: #3e5e66 !important;
}

.text-rosa-01{
    color: #f48993;
}

.text-rosa-02{
    color: #ce4456;
}

/*-------texto ---------*/

p {
    padding: 10px 20px 10px 10px ;
    line-height: 1.6em;
}

/*----linea (row) de cajas ------*/

.linea {
    width: 100%;
    padding: 20px 0;
}

/*-------boton--------*/

.boton,
.boton:visited {
    border-radius: 3px;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    margin-left: 10px;
    font-weight: bold;
}
.boton:hover {
     background-color: #547c86;
     color: #ffffff;
}

/*-----contenedor------*/

.contenedor{
    display: table;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.contenedor ul li {
    margin-left: 30px;
    padding: 10px 20px 0 0 ;
    color: #212121;
    line-height: 1.5em;
}

.clearfix{
    margin-top: 50px;
    margin-bottom: 50px;
}


/*------secciones----*/

.bloque {
    width: 100%;
    height: auto;
    float: left;
    padding: 100px 15px;
}

.bloque h1 {
    text-align: left;
    width: 100%;
    padding: 5px 0;
    font-size: 3em;
    border-bottom: 3px solid #ce4456;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.bloque h2{
    text-align: left;
    font-weight: 500;
    width: 100%;
    padding: 15px 0 5px 0;
    font-size: 2em;
    color: #212121;
    margin-bottom: 30px;
    border-bottom: 3px solid #547c86;   
}

.bloque h1 .enfoque {
     text-align: center;
     width: 100%;
     padding-bottom:10px;
     margin-bottom: 50px;

}

/*-----cajas-------*/

.caja-15{
    width: 15%;
    float: left;
}

.caja-20{
    width: 20%;
    float: left;
}

.caja-25{
    width: 25%;
    float: left;
}

.caja-50{
   width: 50%;
   float: left;
}

.cja-65{
    width: 65%;
    float: left;
}

.caja-70{
    width: 70;
    float: left;
}

/*-----cabecera-----*/

.cabecera{
    width: 100%;
    height: auto;
    background-color: #c0d1d5;
    border-bottom:  5px solid  #ef697b;
    padding-bottom: 20px;
}


.logo{
    width: 25%;
    text-align: center;
    float: left;
    padding-top: 1em;
}

.logo img {
    width: 100%;
}


/*-------menu--------*/

.menu {
    width: 75%;
    height: 50px;
    float: left;
}

.menu ul {
    width: 100%;
    height: 50px;
    margin: 1.5em 0 0 0;
    list-style: none;
}

.menu ul li  {
    float: left;
    width: 19%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu ul li a{
    font-family: 'Francois One', 'roboto','sans-serife';
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    color: #334f55;
    text-transform: uppercase;
    font-weight: bolder;  
}

.menu ul li a:hover,
.menu ul li a:active{
    background-color: #e95064;
    color: #ffffff;
}

/*---------pie de pagina--------*/

.pie-pagina{
    width: 100%;
    height: auto;
    float: left;
    background-color: #972d3b;
    border-top: 5px solid #6f929a;
}

.pie-pagina .logo{
    width: 100%;
}

.pie-pagina .logo img {
    width: 100;
    text-align: center;
    padding: 10px;
}

/*--------pie de pagina-menu----------*/

.pie-pagina .menu {
    width: 50%;
    height: 50px;
} 

.pie-pagina .menu ul {
    width: 100;
    height: 50px;
    margin: 25px auto;
    list-style: none;
}

.pie-pagina .menu ul li{
     float: left;
     text-align: center;
     margin: 0 5px;
     width: 20%;
}

.pai-pagina  .menu ul li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em ;
}

.pie-pagina .menu ul li a :hover{
    color: #fed9de;
    background-color: transparent;
    border-bottom:  3px solid #ffffff;
}

/*---------pie de pajina-redes sosiales -------*/

.pie-pagina h4{
    margin:  35px 20px 10;
    text-transform: uppercase ;
}

.rs {
    width:  75%;
    height: 75px;
    margin: 0 auto 40px auto;
}

.rs a {
  text-decoration: none;
}

.rs img{
    padding: 0;
    width: 12%;
    margin: 0 3%;  
}


/*--------index-vaner-----*/

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/index-banner.jpg);
     height: 600px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   
}

.banner-texto{
    text-align: left;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-texto h1{
    font-size: 3em ;
    font-weight: 600;
}

.banner-texto p {
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.4em;
}


/*---------inndex - caja - areas de enfoque-----------*/

.caja-enfoque{
    position: relative;
    width: 29%;
    margin-right: 2.15%;
    margin-left: 2.15;
    float: left;
    padding-bottom: 15%;
    height: auto;
}

.caja-enfoque img{
    width: 100%;
    border-bottom: 5px solid  #ce4456;
}

.caja-enfoque h3{
    margin-left: 10px;
    margin-top: 15px;
}

.caja-enfoque .boton{
    width: 93%;
    text-align: center;
} 

/*--------contactenos---------*/

.envoltorioformulario{
    width: 95%;
    margin: 0 15px;
}

.envoltorioformulario .linea{
    margin: 10px 0;
}

.envoltorioformulario .linea-botones{
    margin: 10px 0 15% 0 !important;
    width: 85%;
   float: right;
}

.envoltorioformulario form label {
   width: 15%;
    float: left;
    margin-top: 5px;
}

.envoltorioformulario form input {
    width: 85%;
    float: left;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ce4456;
}

.envoltorioformulario form textarea {
    width: 85%;
    height: 150px;
    float: left;
    padding: auto;
    border-radius: 5px;
    border: 1px solid  #ce4456;
}

.enviar {
    display: inline-block;
    width: 47% ;
    border: 1px solid  #d9dde2;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.enviar:hover {
    background-color: #ffffff;
    color: #496d76;
}

.borrar{
    display: inline-block;
    width: 47% ;
    margin-left: 3%;
    border: 1px solid #d9dde2  ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    text-transform: uppercase;
}


 .borrar:hover{
     background-color: #ce4456 ;
     color: #ffffff ;
 } 

¨/*  boton-ir arriba  */

#totopbtn {
    position: fixed;
    bottom: 26px;
    right: 36px;
    z-index:98 ;
    padding: 21px;
    background-color: #ce4456;
    border-radius: 10px;
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
   visibility: visible;
   opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity . 3s ,visibility.3s,background-color.3s
}

 .cd-top {
     position: fixed;
     bottom: 20px;
     bottom: var(--cd-back-to-top-margin);
     right: 20px;
     right: var(--cd-back-to-top-margin);
     display: inline-block;
     height: 40px;
     height: var(--cd-back-to-top-size);
     width: 40px;
     width: var(--cd-back-to-top-size);
     box-shadow: 0 0 10px rgba ( 0, 0, 0,05) !important;
     background: url(https://res.cloudinary.com/dxfq3iotg/imge/upload/v1571057658/cd-top-arrow.svg ) no-repeat;
     background-color: hsla(var(--cd-color-3-h),var(--cd-color-3-l),0.8  )
 }
